.item-card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: inherit;
  padding: 0;
  width: 16.66%;
  margin: 16px;
  border: 1.25px solid rgba($color: $black, $alpha: 0.1);
  border-radius: 4px;

  &__information {
    padding: 6px 12px;
    margin-top: 5px;

    .title {
      text-overflow: ellipsis;
      font-size: 14px;
      color: rgba($color: $black, $alpha: 0.8);
      white-space: nowrap;
      overflow-x: hidden;

      h4 {
        margin: 1px 0px;
        // line-height: 1;
        // margin-left: 3vw;
        text-align: center;
      }
    }
  }
}
.pricing {
  small {
    opacity: 0.5;
    font-weight: 400;
    margin-left: 8px;
    // margin-bottom:12px;
  }
  span {
    font-size: 14px;
    font-weight: 500;
  }
}
button.cart {
  margin-top: auto;
  cursor: pointer;
  width: 100%;
  background-color: $primary;
  border-radius: 0px 0px 4px 4px;
  border: unset;
  font-size: 14px;
  padding: 4px 16px;
  color: $white;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.product-list {
  padding: 16px 32px;
  width: 100%;
  min-height: 100vh;

  &--wrapper {
    display: flex;
    padding-left: 40px;
    flex-wrap: wrap;
  }
}
.cartaddon {
  // font-size: 3vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  span {
    font-size: 1.5vw;
    height: 2.1vw;
    width: 2.1vw;
    background-color: $primary;
    text-align: center;
  }

  .white {
    background-color: white;
  }
  button {
    border: none;
    display: flex;
    align-items: center;
  }
}
.buttonn {
  // height: 22vh;
  padding: 2.5px 0vw;
  // background-color: red;
  width: 100%;
  // color: blue;
}
