.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: grey;
  padding: 4px 20px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  i {
    font-size: 3.3vw;
  }
}
.searchbar {
  height: 15px;
  display: flex;
  align-items: center;

  margin-left: -55px;
  input {
    height: 32px;
    width: 21vw;
    text-align: center;
    border: 0px solid $black;
    border-radius: 0.5vw 0vw 0vw 0.5vw;
    margin-top: 2px;
    border-radius: none;
  }
  i {
    background-color: $primary;
    padding: 7.9px 9px;
    border-radius: 0vw 0.5vw 0.5vw 0vw;

    font-weight: bold;
    cursor: pointer;
  }
}
.cart {
  display: flex;
  align-items: center;
  gap: 2px;
  cursor: pointer;

  i {
    font-size: 2.5vw;
    cursor: pointer;
  }
}
.main2 {
  padding-left: 3.7vw;
  height: 5.4vh;
  background-color: rgba(213, 194, 194, 0.342);
  display: flex;
  align-items: center;
  gap: 2vw;

  &--.same {
    height: 100%;
  }
  a {
    color: #17659d96;
    border-radius: 2px;
    padding: 2px;
    font-weight: 600;

    &:visited {
      color: black;
    }
  }
  span {
    height: 100%;
    width: 100%;
    font-size: 1.2vw;
    font-weight: 400;
    border-radius: 2px;
    padding: 0 3px;
    cursor: pointer;
    // background-color: red;
  }
  a:hover {
    background-color: rgb(248, 188, 77);
    transition: all ease-in-out 0.55s;
    scale: 1.2;
    color: white;
    background-color: black;
    // font-weight: bold;
    // font-size: 15px;
    padding: 2.5px;
  }
}
span {
  &:first-child {
    padding-right: 8px;

    &[data-items]::after {
      position: relative;
      content: attr(data-items);
      font-size: 12px;
      background-color: red;
      padding: 2px 4.3px;
      border-radius: 50%;
      top: -8px;
      right: -3.5px;
      font-weight: 700;
    }
  }
}
