.modal {
  position: fixed;
  top: 18vh;
  left: 5%;
  width: 90%;
  background-color: white;
  padding: 1rem;
  border-radius: 2.2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 1101;
  animation: slide-down 300ms ease-out forwards;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;

  button[type="close"] {
    text-transform: lowercase;
    position: absolute;
    right: 15px;
    top: 15px;
    background-color: unset;
    border: unset;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50%;
  }
}

@media (min-width: 768px) {
  .modal {
    width: 29rem;
    left: calc(50% - 14rem);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-2rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
